

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%
}

body {
    background-color: lemonchiffon;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*for flex direction or column or row-reverse*/
/*for justify content: or flex-end, or flex-reverse, or space-around, or space between, or spce evenly...*/
/* for now ignore align-items- or stretch...*/

.item {
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: tomato;
    font-size: 42px;
}


/* .iten: nth-child(#) { order: 3; } */

.item:nth-child(3) {
    flex-grow: 2;
    background: green;
    align-self: flex-end;
}