/*this is a reset to remove html element styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    background-color: lemonchiffon;
    height: 100%;
}

header {
    height: 20%;
    background-color: tomato;
}

nav, footer {
    height: 10%;
    background-color: blue;
}

main {
    height: 60%;
    background-color: blanchedalmond;
}