*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font-family: 'Roboto Mono', monospace;*/
/* fix nav below*/


nav {
    height: 60px;
}

.container {
    display: flex;
    justify-content: space-around;

    list-style: none;
    background: tomato;
    line-height: 60px;
}

.container a{
    text-decoration: none;
    color: white;
}

li:hover{
    animation: changeMe 3s ease-in-out
}

@keyframes changeMe{
    0%{background-color: tomato;}
    50%{background-color: #cc000c;}
    75%{background-color: #800000;}
    100%{background-color: tomato;}
}
