
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    animation: Fade 1.0s ease-in-out 0.0s;
    
  }
  body{
      padding: 3vw;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container a{
    text-decoration: none;
    color: gray;
}

.container {
    display: flex;
    width: 1;
    height: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent;
    line-height: 40px;
}

li:hover{
    animation: changeMe 2s ease-in-out
}

@keyframes changeMe{
    0%{background-color: tomato;}
    50%{background-color: #cc000c;}
    75%{background-color: #800000;}
    100%{background-color: tomato;}
}


p a{
    text-decoration: none;
    align-self: left;
    font-family: "Roboto";
    font-size: 2vw;
    transition: all 1s;
    color: transparent;
}
p a:link{
    text-decoration: none;
    text-decoration-color: none;
}
p a:visited{
    text-decoration: none;
    text-decoration-color: none;
}

p a:active{
    text-decoration: none;
    text-decoration-color: none;
}
p a:hover{
    font-size: 5vw;
    font-weight: bolder;
    color: fuchsia;
}
