
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    animation: Fade 1.0s ease-in-out 0.0s;
    
  }
  body{
      padding: 2vw;
  }

/*font-family: 'Roboto Mono', monospace;*/
/* fix nav below*/


.container a{
    text-decoration: none;
    color: fuchsia;
}

.container {
    display: flex;
    justify-content: space-between;
    list-style: arabic-indic;
    background: transparent;
    line-height: 30px;
}

li:hover{
    animation: changeMe 3s ease-in-out
}

@keyframes changeMe{
    0%{background-color: tomato;}
    50%{background-color: #cc000c;}
    75%{background-color: #800000;}
    100%{background-color: tomato;}
}


p a{
    text-decoration: none;
    align-self: center;
    font-family: "Roboto";
    font-size: 0.6vw;
    transition: all 0.5s;
    color: BLACK(83, 83, 83);
}
p a:link{
    text-decoration: none;
        text-decoration-color: none;

}
p a:visited{
    text-decoration: none;
    text-decoration-color: none;
}

p a:active{
    text-decoration: none;
    text-decoration-color: none;
}
p a:hover{
    font-size: 1vw;
    font-weight: bolder;
}
