body {
    margin: 3em;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 2;
    ;
  }
  
  h1 {
    line-height: 1.25;
    margin: 2em 0 0;
  }
  p {
    margin: 0.5em 0;
  }
  
  #switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #switcher li {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 25px 25px 0;
    border-radius: 50px;
    border: 1px solid black;
  }
  
  /* button colors */
  
  #redButton {
    background-color: #ff0000;
    
  }
  
  #greenButton {
    background: #008000;
    
  }
  
  #blueButton {
    background: #0000ff;
    
  }
  
  #yellowButton {
    background: #ffff00;
    
  }
  
  /* background colors */
  
  .redScheme {
    background-color: red;
  
  }
  
  .greenScheme {
    background-color: green;

  }
  
  .yellowScheme {
    background-color: yellow;
 
  }
  
  .blueScheme {
    background-color: blue;

  }