button{
    background-color: green;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 14px;
}

p {
    color: pink;
    font-size: 2em;
}