* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  html,
  body {
    height: 100%;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    line-height: 1.68em;
  }

  
  .main {
    display: inline-block;
    float: left;
    width: 70%;
    height: 100%;
    padding: 24px;
  }
    
  .underline {
    border-bottom: 3px solid coral;
    width: 45%;
  }
  
  .container {
    padding: 20px 40px;
    width: 50%;
    line-height: 1.68;
  }
  
  h1 {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    color: beige;
    font-size: 7em;
    line-height: 3em;
  }
  
  .pullquote {
    color: #d3d3d3;
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 1.68em;
  }
  