* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  html,
  body {
    height: 100%;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    line-height: 1.68em;
  }

  
  .main {
    display: inline-block;
    float: center;
    width: 70%;
    height: 100%;
    padding: 24px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 20px 40px;
    width: 75%;
    line-height: 1.68;
  }
  
  h1 {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    color: beige;
    display:inline-flex;
    font-size: 6em;
    line-height: 3em;
  }
  
  .pullquote {
    color: #d3d3d3;
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    letter-spacing: 1.5px;
    font-size: 1em;
  }
  