@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");

html, body{
    height: 100%;
    
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    background-color:#000000;
 
}
a, a:active, a:visited{
    text-decoration: none;
    color: #F20505;
    font-weight: bolder;
    font-size: 70px;
    transition: font-size 0.5s ease, color 0.5s ease;
}
a:hover{
    text-decoration: none;
    color:#A61103;
    font-size: 50px;
}
.square{
    display: flex;
    margin: auto;
    font-family: "roboto";
    width: 500px;
    height: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    background: rgb(0, 0, 0);
    transition: font-size 0.5s ease, background-color 0.5s ease,color 0.5s ease, transform 0.3s ease;
}
.square:hover{
    transform: scale(1.1);
    display: flex;
    margin: auto;
    font-family: "roboto";
    width: 500px;
    height: 500px;
    text-align: left;
    justify-content: left;
    align-items: left;
    border-radius: 50%;
    background: rgba(255, 72, 0, 0.753);
    
}
.square:active{
    transform: scale(0.5);
    
}
body {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}